$red: #BB0000;
$orange: #DD6F00;
$yellow: #CCCC00;
$green: #00AA00;
$blue-lt: #4a90e2;
$blue: #135198;
$blue-md: #1d2d4e;
$blue-dk: #05112a;
$violet: #BB00BB;
$blue-dk-90: rgba(5,17,42,.9);

$black: #000000;
$grey-95: #101010;
$grey-90: #111111;
$grey-85: #222222;
$grey-80: #333333;
$grey-75: #444444;
$grey-70: #555555;
$grey-65: #666666;
$grey-60: #777777;
$grey-55: #888888;
$grey-50: #898989;
$grey-45: #999999;
$grey-40: #AAAAAA;
$grey-35: #BBBBBB;
$grey-30: #CCCCCC;
$grey-25: #CDCDCD;
$grey-20: #DDDDDD;
$grey-15: #DEDEDE;
$grey-10: #EEEEEE;
$grey-05: #EFEFEF;
$white: #FFFFFF;
