@font-face {
  font-family: "IntegralCF-Regular";
  src: url('../fonts/integral/IntegralCF-Regular.eot') format('eot'),
       url('../fonts/integral/IntegralCF-Regular.woff') format('woff'),
       url('../fonts/integral/IntegralCF-Regular.woff2') format('woff2');
}

@font-face {
  font-family: "IntegralCF-Bold";
  src: url('../fonts/integral/IntegralCF-Bold.eot') format('eot'),
       url('../fonts/integral/IntegralCF-Bold.woff') format('woff'),
       url('../fonts/integral/IntegralCF-Bold.woff2') format('woff2');
}

@font-face {
  font-family: "IntegralCF-BoldOblique";
  src: url('../fonts/integral/IntegralCF-BoldOblique.eot') format('eot'),
       url('../fonts/integral/IntegralCF-BoldOblique.woff') format('woff'),
       url('../fonts/integral/IntegralCF-BoldOblique.woff2') format('woff2');
}

@font-face {
  font-family: "IntegralCF-DemiBold";
  src: url('../fonts/integral/IntegralCF-DemiBold.eot') format('eot'),
       url('../fonts/integral/IntegralCF-DemiBold.woff') format('woff'),
       url('../fonts/integral/IntegralCF-DemiBold.woff2') format('woff2');
}

@font-face {
  font-family: "IntegralCF-ExtraBoldOblique";
  src: url('../fonts/integral/IntegralCF-ExtraBoldOblique.eot') format('eot'),
       url('../fonts/integral/IntegralCF-ExtraBoldOblique.woff') format('woff'),
       url('../fonts/integral/IntegralCF-ExtraBoldOblique.woff2') format('woff2');
}

@font-face {
  font-family: "IntegralCF-Heavy";
  src: url('../fonts/integral/IntegralCF-Heavy.eot') format('eot'),
       url('../fonts/integral/IntegralCF-Heavy.woff') format('woff'),
       url('../fonts/integral/IntegralCF-Heavy.woff2') format('woff2');
}

@font-face {
  font-family: "IntegralCF-HeavyOblique";
  src: url('../fonts/integral/IntegralCF-HeavyOblique.eot') format('eot'),
       url('../fonts/integral/IntegralCF-HeavyOblique.woff') format('woff'),
       url('../fonts/integral/IntegralCF-HeavyOblique.woff2') format('woff2');
}

@font-face {
  font-family: "IntegralCF-Medium";
  src: url('../fonts/integral/IntegralCF-Medium.eot') format('eot'),
       url('../fonts/integral/IntegralCF-Medium.woff') format('woff'),
       url('../fonts/integral/IntegralCF-Medium.woff2') format('woff2');
}

@font-face {
  font-family: "IntegralCF-RegularOblique";
  src: url('../fonts/integral/IntegralCF-RegularOblique.eot') format('eot'),
       url('../fonts/integral/IntegralCF-RegularOblique.woff') format('woff'),
       url('../fonts/integral/IntegralCF-RegularOblique.woff2') format('woff2');
}
