/* Page Footer */
footer {
  background-color: $white;
  color: $black;
  margin: 2em 0;
  min-height: 150px;
  overflow: hidden;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 0;

  p {
    color: $blue;
    font-family: 'IntegralCF-Regular';
    letter-spacing: .25em;
    margin: 1em;
  }

  a {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $blue;
      text-decoration: none;
    }

  }

  ul {
    display: inline-block;
    margin: 1em auto;
    padding: 0;

    li {
      display: block;
      float: left;
      list-style: none;
      margin: 0 2em;
      padding: 0;
      text-align: center;
    }
  }

}
