/* Page Footer */
footer {
  background-color: $white;
  color: $black;
  margin: 2em 0 0;
  padding-bottom: 2em;
  min-height: 150px;
  overflow: hidden;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 0;

  p {
    color: $blue;
    font-family: 'IntegralCF-Regular';
    letter-spacing: .25em;
    margin: 1em;
  }

  a {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $blue;
      text-decoration: none;
    }

  }

  ul {
    display: inline-block;
    margin: 1em auto;
    padding: 0;

    li {
      display: block;
      float: left;
      list-style: none;
      margin: 0 2em;
      padding: 0;
      text-align: center;
    }
  }

}

@media only screen and (max-width: 1024px)and (max-height: 768px) {
  footer {
    z-index: 1;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    background-color: $white;
    bottom: 0;
    margin: 0;
    position: fixed;
    z-index: 1;
    p {
      font-size: 1.5em;
      margin: 2em 0 1em 0;
    }
    ul {
      li {
        margin: 0 1em;
      }
    }
  }
}
