/* Site Header */
body {

  header {
    display: block;
    height: 420px;
    margin: 0;
    overflow: hidden;
    padding-top: 300px;
    text-align: center;

    &.inactive {
      display: none;
    }

    h1, h2, h3, h4, h5, h6, p {
      font-family: 'IntegralCF-Regular';
      margin: 0;
    }

    h1, p {
      color: $black;
      font-size: 1.45em;
      margin: .5em 0;
    }

    h2 {
      color: $blue;
      font-size: 2.2em;
    }

  }

  .video-container {
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: -1;

    &.active {
      display: block;
    }

  }

}
