/* Default Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: 'IntegralCF-Regular';
  font-weight: bold;
}

/* Main Content Body */
main {
  clear: both;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;

  .section {
    overflow: hidden;
    padding: 100px 5%;
    position: relative;

    h1, h2, h3, h4, h5, h6 {
      font-family: 'IntegralCF-RegularOblique';
      letter-spacing: 2px;
    }

    h2 {
      display: inline-block;
      font-size: 1.3em;
      letter-spacing: 1px;
      margin-bottom: 0;
      padding: 0 .5em .7em .5em;
      position: relative;
      z-index: 2;

      &::before {
        content: '';
        position: absolute;
        left: -15px;
        bottom: 0;
        overflow: visible;
        width: 118%;
        height: 53px;
        background-color: $white;
        z-index: -1;
        -webkit-transform: skewX(-17deg);
           -moz-transform: skewX(-17deg);
            -ms-transform: skewX(-17deg);
             -o-transform: skewX(-17deg);
                transform: skewX(-17deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: initial;
      }

    }

    p {
      font-family: "Montserrat", Arial, sans-serif;
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.5em;
    }

    dl {
      margin-top: 2.5em;
      dd {
        font-family: "Montserrat", Arial, sans-serif;
        font-size: 1.125em;
        font-weight: 300;
        line-height: 1.5em;
        margin-bottom: 1.5em;
        margin-left: 0;
        padding-left: 0;
      }
    }

    ul {
      display: block;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
      }

    }

    .content-box {
      max-width: 1200px;
      margin: 0 auto;
    }

    .role {
      display: block;
      float: left;
      margin: 50px 0;
      width: 50%;

      h3 {
        margin-bottom: .5em;
      }

      p {
        margin: 0;
        padding: 0;
      }

    }

    &.challenge,
    &.execution {
      background-color: $blue-md;
      color: $white;
      overflow: hidden;
      z-index: 1;

      h2 {
        background-color: $white;
        color: $blue-md;
      }

      &.clients {
        background-color: $blue-dk;
        margin-bottom: 220px;
        padding-bottom: 50px;

        ul {
          margin: 2em auto 0;

          li {
            padding: 3em .5em;
          }

        }

      }

    }

    &.execution {
      background-color: transparent;
      position: relative;
      z-index: 2;
      margin-bottom: 150px;
      &::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 56vh;
        width: 100%;
        background-color: $blue-md;
      }

      &.sticky {
        &::after {
          position: fixed;
          top: 0;
        }
      }

      &.clients {
        &::after {
          display: none;
        }
      }

      @media only screen and (max-width: 768px) {
        &::after {
          height: 77vh;
        }
      }

    }

    &.challenge {
      padding: 10vh 5% 80px;
      position: fixed;
      width: 90%;
      height: 40vh;

      span{
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 12;
        padding: 10em 0;
      }

      &::after {
        content: "";
        background-size: cover;
        opacity: 0.15;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }

      @media only screen and (max-width: 768px) {
        height: 55vh;

        .content-box {
          h1 {
            font-size: 1.3em;
            line-height: 2.5em;
          }
          h3 {
            font-size: 1em;
          }
          p {
            margin: 1em;
          }
          .role {
            margin: 1em 0;
            p {
              font-size: .8em;
            }
          }
        }

        &::after {
          background-size: contain;
        }

      }

      &#nascar::after {
        background-image: url('../../../dist/assets/images/design-2.jpg');
      }

      &#sprint::after {
        background-image: url('../../../dist/assets/images/vote-2.jpg');
      }

      &#drive::after {
        background-image: url('../../../dist/assets/images/video-3.jpg');
      }

      &#ndms::after {
        background-image: url('../../../dist/assets/images/editor-3.jpg');
      }

      &#rcr::after {
        background-image: url('../../../dist/assets/images/e-commerce-1.jpg');
      }

      &#noda::after {
        background-image: url('../../../dist/assets/images/brand-2.jpg');
      }

    }

    &.solutions {
      z-index: 2;
      margin-top: 650px;
      background-color: $white;
      h2 {
        background-color: $blue-md;
        color: $white;
        &::before {
          background-color: $blue-md;
        }
      }

      ul {
        li {
          padding: 2em;

          a {
            color: $black;
            &:hover {
              color: $blue;
              text-decoration: none;
            }
          }

        }
      }

    }

    &#about {
      margin-top: 0;
    }

  }

}


@media only screen and (max-width: 768px) {
  main .section.solutions {
    margin-top: 515px;
    padding-top: 50px;
  }

  main .section.execution {
    margin-bottom: 0;
    padding-top: 50px;
  }

}
