/* Default Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: 'IntegralCF-Regular';
  font-weight: bold;
}

/* Main Content Body */
main {
  clear: both;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;

  .section {
    overflow: hidden;
    padding: 100px 5%;
    position: relative;

    h1, h2, h3, h4, h5, h6 {
      font-family: 'IntegralCF-RegularOblique';
      letter-spacing: 2px;
    }

    h2 {
      display: inline-block;
      font-size: 1.3em;
      letter-spacing: 1px;
      margin-bottom: 0;
      padding: 0 .5em .7em .5em;
      position: relative;
      z-index: 2;

      &::before {
        content: '';
        position: absolute;
        left: -15px;
        bottom: 0;
        overflow: visible;
        width: 118%;
        height: 53px;
        background-color: $white;
        z-index: -1;
        -webkit-transform: skewX(-17deg);
           -moz-transform: skewX(-17deg);
            -ms-transform: skewX(-17deg);
             -o-transform: skewX(-17deg);
                transform: skewX(-17deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: initial;
      }

    }

    p {
      font-family: "Montserrat", Arial, sans-serif;
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.5em;
    }

    dl {
      dd {
        font-family: "Montserrat", Arial, sans-serif;
        font-size: 1.125em;
        font-weight: 300;
        line-height: 2em;
      }
    }

    .content-box {
      max-width: 800px;
      margin: 0 auto;
    }

    .role {
      display: block;
      float: left;
      margin: 50px 0;
      width: 50%;

      h3 {
        margin-bottom: .5em;
      }

      p {
        margin: 0;
        padding: 0;
      }

    }

    &.challenge,
    &.execution {
      background-color: $blue-md;
      color: $white;
      overflow: hidden;
      z-index: 1;

      h2 {
        background-color: $white;
        color: $blue-md;
      }
    }

    &.challenge {
      padding: 200px 5% 80px;
      position: relative;

      span{
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 12;
        padding: 10em 0;
      }

      &::after {
        content: "";
        background-size: cover;
        opacity: 0.15;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }

      &#nascar::after {
        background-image: url('../../../dist/assets/images/design-2.jpg');
      }

      &#sprint::after {
        background-image: url('../../../dist/assets/images/vote-2.jpg');
      }

      &#drive::after {
        background-image: url('../../../dist/assets/images/video-3.jpg');
      }

      &#ndms::after {
        background-image: url('../../../dist/assets/images/editor-3.jpg');
      }

      &#rcr::after {
        background-image: url('../../../dist/assets/images/e-commerce-1.jpg');
      }

      &#noda::after {
        background-image: url('../../../dist/assets/images/brand-2.jpg');
      }

    }

    &.solutions {
      h2 {
        background-color: $blue-md;
        color: $white;
        &::before {
          background-color: $blue-md;
        }
      }
    }

  }

}
