/* Navigation */
body {

  &.active {
    nav {
      .logo {
        background-image: url('../../../dist/assets/images/logo.png');
      }
      button {
        color: $black;
      }
    }
  }

  &.inactive {
    nav {
      .logo {
        background-image: url('../../../dist/assets/images/logo-reverse.png');
      }
      button {
        color: $white;
      }
    }
  }

  nav {
    margin: 0;
    min-height: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;

    &.sticky {
      height: 65px;
      background-color: $blue-dk-90;
      position: fixed;
      top: 0;

      .logo{
        top: 5px;
      }

      .menu {
        top: -5px;
      }

    }

    &.black {

      &.sticky {
        background-color: $white;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
           -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
                box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
      }

      .logo {
        background-image: url('../../../dist/assets/images/logo.png');
      }
      button {
        color: $black;
      }
    }

    &.white {
      .logo {
        background-image: url('../../../dist/assets/images/logo-reverse.png');
      }
      button {
        color: $white;
      }
    }

    .logo {
      background-image: url('../../../dist/assets/images/logo.png');
      background-repeat: no-repeat;
      cursor: pointer;
      height: 54px;
      left: 2em;
      position: absolute;
      top: 20px;
      width: 95px;

      &.reverse {
        background-image: url('../../../dist/assets/images/logo-reverse.png');
      }

    }

    button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      font-size: 3em;
      font-weight: bold;
      height: 50px;
      position: absolute;
      right: 1em;
      text-align: center;
      top: 20px;
      width: 50px;

      &::before {
        content: '\2630';
        text-align: center;
      }

      &:focus {
        outline: 0;
      }

      &.open {
        color: $white;
        &::before {
          content: '\00D7';
        }
      }

    }

    ul {
      background-color: $black;
      display: none;
      margin: 0;
      padding: .5em 0;
      width: 100%;

      &.active {
        display: block;
        padding: 80px 0 200px 0;
      }

      li {
        display: block;
        font-family: 'IntegralCF-Regular';
        list-style: none;
        margin: 0;
        padding: 2em 0;
        text-align: center;
        width: 100%;

        a {
          color: $white;
          margin: 0;
          padding: .5em 1em;
          text-decoration: none;

          &:hover {
            color: $blue-lt;
            background-color: $black;
          }

        }

      }
    }
  }



  @media only screen and (max-width: 768px) {
    nav {
      position: fixed;
      .logo {
        display: none;
      }
      button {
        top: 0;
        right: .25em;
      }

      &.sticky {
        border: 1px solid $white;
      }

    }
  }

}
