main .section ul.screenshots {
  margin: 8em 0 0 0;

  /*
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  */

  li {
    background-color: $white;
    display: block;
    margin: 0 auto;
    padding: 2em 0;
    width: 100%;
    overflow: hidden;
    text-align: center;

    &::after {
      content: "\276e";
      color: $grey-20;
      font-size: 2em;
      text-align: center;
      -ms-transform: rotate(-90deg); /* IE 9 */
      -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
      transform: rotate(-90deg);
      display: block;
      margin: 2em 0 0 0;
    }

    img {
      width: 96%;
    }

    &.last {
      margin-bottom: 390px;
    }

    &.end {
      border-bottom: 15px solid $grey-20;
      margin-bottom: 30px;
      padding-bottom: 6em;
      &::after {
        display: none;
      }
    }

    &.trailer {
      background-color: transparent;
      margin: 0;
      overflow: visible;
      padding: 0 0 75px 0;
      position: absolute;
      left: 0;
      bottom: 0;

      &::after {
        display: none;
      }

      img {
        display: inline-block;
        width: 100%;
      }

      h2, dl {
        display: none;
      }

    }

  }

}

@media only screen and (max-width: 768px) {
  main .section ul.screenshots {
    margin: 4em 0 0 0;
    li {
      &::after {
        margin: 1em 0 0 0;
      }
      &.end {
        margin-bottom: 130px;
      }
      &.trailer {
        background-color: $blue-dk;
        display: block;
        margin-bottom: 180px;
        overflow: hidden;
        padding: 2em 0;
        position: absolute;

        img {
          display: none;
        }

        h2 {
          display: inline-block;
          margin: 2em 0 1em 0;
        }

        dl {
          display: block;
          margin: 0;
          padding: 0;

          &::before {
            content: "";
            background-image: url('../../../dist/assets/images/NASCAR_REDESIGN_HEROIMAGE_FLAT.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            opacity: 0.25;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: 0;
          }

          dd {
            float: left;
            width: 50%;
            margin: 0;
            padding: 0;
            position: relative;
            height: 180px;

            h3 {
              font-size: 2.5em;
              margin: 1.5em 0 .25em 0;
              padding: 0;
              z-index: 1;
            }

            p {
              color: $blue-pale;
              text-transform: uppercase;
              font-size: .85em;
              z-index: 1;
            }

          }
        }

      }
    }
  }
}
