main {

  ul.tiles {
    clear: both;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0 0 220px 0;
    width: 100%;
    position: absolute;
    z-index: 4;

    li {
      background: $blue;
      background: -moz-radial-gradient(center, ellipse cover, rgba(52,98,155,1) 56%, rgba(52,98,155,1) 56%, rgba(38,73,115,1) 100%); /* FF3.6-15 */
      background: -webkit-radial-gradient(center, ellipse cover, rgba(52,98,155,1) 56%,rgba(52,98,155,1) 56%,rgba(38,73,115,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: radial-gradient(ellipse at center, rgba(52,98,155,1) 56%,rgba(52,98,155,1) 56%,rgba(38,73,115,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34629b', endColorstr='#264973',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      color: $white;
      cursor: pointer;
      display: block;
      float: left;
      font-size: .8em;
      font-family: 'IntegralCF-RegularOblique';
      font-weight: normal;
      letter-spacing: .5em;
      list-style: none;
      margin: 0;
      overflow: hidden;
      position: relative;
      text-align: center;
      width: 50%;

      a {
        color: $white;
        text-decoration: none;
        &:hover {
          color: $white;
          text-decoration: none;
        }
      }

      div{
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 12;
        padding: 10em 0;

        &::after {
          content: "";
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
          opacity: 0.25;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;
        }

        &.nascar::after {
          background-image: url('../../../dist/assets/images/NASCAR_Redesign_Devices.png');
        }

        &.sprint::after {
          background-image: url('../../../dist/assets/images/FanVote_Tile.png');
        }

        &.drive::after {
          background-image: url('../../../dist/assets/images/NascarDrive_Tile.png');
        }

        &.ndms::after {
          background-image: url('../../../dist/assets/images/NDMS_Tile.png');
        }

        &.rcr::after {
          background-image: url('../../../dist/assets/images/rcr_ecommerce_Tile.png');
        }

        &.noda::after {
          background-image: url('../../../dist/assets/images/NODASCHOOL_Tile.png');
        }

      }

      p {
        margin: 0;
        padding: 0;
      }

      ul {
        display: block;
        margin: 0 auto;
        padding: 0;

        li {
          background: transparent;
          float: none;
          font-family: 'IntegralCF-RegularOblique';
          font-size: 1.75em;
          letter-spacing: .125em;
          margin: 0 auto;
          padding: 0;
          width: 60%;
        }

      }

    }

  }

}

@media only screen and (max-width: 1024px) and (max-height: 768px) {
  li {
    min-height: 90px;
  }
}

@media only screen and (max-width: 1024px) {
  main {
    ul.tiles {
      li {
        float: none;
        width: 100%;
        div {
          border-bottom: 3px solid $blue-dk;
          border-top: 2px solid $white;
          h4 {
            font-weight: normal;
            margin: 0 2em;
          }
          &::after {
            background-size: 100%;
          }
        }
      }
    }
  }
}
